.kanban-board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .column {
    flex: 1;
    background-color: #090E10;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.884);
}

  
  .column h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .task {
    /* background-color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px; */
    cursor: pointer;
  }
  
  .task:hover {
    background-color: #434242;
  }
  
  .task input[type="text"] {
    width: calc(100% - 70px);
    margin-right: 10px;
  }
  
  .task button {
    cursor: pointer;
  }
  
  /* .task button:hover {
    background-color: #0056b3;
  } */

  /* .task.dragging {
    opacity: 0.5;
    border-color: #007bff;
  }
   */
   
  .add-column {
    margin-top: 20px;
  }
  
  .add-column input[type="text"] {
    width: calc(100% - 100px);
    margin-right: 10px;
  }
  
  /* .add-column button {
    padding: 8px 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  /* .add-column button:hover {
    background-color: #218838;
  } */

  .input-field {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: white;
  }
  
  /* .create-task-button {
    padding: 8px 16px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  } */
  
  /* .create-task-button:hover {
    background-color: #0056b3;
  } */
  
  /* .delete-column-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
  } */

  /* .create-column-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
  } */

  /* .create-column-button:hover {
    background-color: #218838;
  }
  
  .delete-column-button:hover {
    background-color: #bd2130;
  } */
  
  .column:hover {
    background-color: #151515;
  }
  
  .filter-box {
    background-color: #333;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 200px;
  }
  