.workspace-creation-container {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .workspace-input {
    width: calc(100% - 40px);
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-workspace-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .new-workspace-button {
    background-color: transparent;
    color: #fff;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .create-workspace-button:hover {
    background-color: #0056b3;
  }

  .error-message {
    color: red;
  }
  