.appappbar {
    background-color: #333;
  }
  
  .appappbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .appappbar-item {
    margin-right: 20px;
  }
  
  .appappbar-link {
    outline: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  .appappbar-link:hover {
    text-decoration: none;
  }

  .appappbar-link:visited {
    color: inherit;
  }
  